body {
    background-color: midnightblue;
}

@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 100px;}
    75%  {top: 50px}
    100% {top: 100px;}
}

h1 {
    width: 100px;
    height: 100px;
    position: center;
    animation: mymove 20s infinite;
    text-align: center;
    width: 100px;
    margin-top: 50px;
    margin-left: 500px;
    padding-top: 200px;
    padding-left: 200px;
    font-size: 40px;
    color: purple;
    border: 1px solid plum;
    transition: 10s linear;
    -webkit-transition: 10s linear;
    -moz-transition: 10s linear;
    -ms-transition: 10s linear;
    -o-transition: 10s linear;
    -webkit-animation: mymove 20s infinite;
}

p{
    margin:auto;
    text-align: center;
    text-transform: uppercase;
    color:blueviolet;
    letter-spacing: 5px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

h1:hover{
    border: 1px solid transparent;
    background-image: url(cutecat.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: repeat;
}

h2{
    margin: auto;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    color: palegreen;
    padding-top: 50px;
}