body {
    background-color: midnightblue;
}

h2 {
    margin: 35px;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    color: palegreen;
    padding-top: 50px;
}

h1 {
    animation-duration: 50s;
    animation-name: mymove;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    color:blueviolet;
    letter-spacing: 5px;
    padding-top: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

p {
    animation-duration: 50s;
    animation-name: slidein;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    color:blueviolet;
    letter-spacing: 5px;
    padding-top: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
