body {
    background-color: midnightblue;
}

img {
    animation-duration: 15s;
    animation-name: slidein;
    border-radius: 50%;

}

h2 {
    margin: 35px;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    color: palegreen;
    padding-top: 50px;
}

@keyframes slidein {
    from {
    margin-left: 45%;
    width: 45%;
    }
  
    to {
    margin-left: 0%;
    width: 50%;
    }

}

h1 {
    animation-duration: 20s;
    animation-name: mymove;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    color:blueviolet;
    letter-spacing: 5px;
    padding-top: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;

}

p {
    animation-duration: 10s;
    animation-name: slidein;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    color:blueviolet;
    letter-spacing: 5px;
    padding-top: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

