body {
    background-color: midnightblue;
}

@keyframes heartBeat {
    from {
        background-color: blueviolet;
        margin-left: 45%;
        width: 45%;
    }
    to{
        background-color: aquamarine;
        margin-left: 0%;
        width: 50%;
    }

}

.logo {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; /* don't forget to set a duration! */   
}

img {
    animation-duration: 35s;
    animation-name: heartBeat;
    border-radius: 50%;
}

h2 {
    margin: 35px;
    text-align: center;
    letter-spacing: 10px;
    font-size: 80px;
    color: palegreen;
    padding-top: 50px;
}

h1 {
    display: inline-block;
    animation-duration: 50s;
    animation-name: heartBeat;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    color:blueviolet;
    letter-spacing: 5px;
    padding-top: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

p {
    animation-duration: 50s;
    animation-name: slidein;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    color:blueviolet;
    letter-spacing: 5px;
    padding-top: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

